<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Copy your content image in the root directory with the name "profile.jpg"</h1>
    <h1>Copy your style image in the root directory with the name "style.jpg"</h1>
    <h2>We'll apply Style Transfer to it. You'll see many different shades in same image</h2>
    <h2>Find more style images in images/styles</h2>

    <h3> Press the button and Hang tight </h3>
    <form action="." method="POST">
        <input type="submit" name="my-form" value="Do The Style Transfer">
    </form>
</body>
</html>